<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <form onsubmit="handleOnSubmit(event)">
        <section>
          <label for="name">Name</label>
          <input id="name" type="text" />
        </section>
        <section>
          <label for="email">Email</label>
          <input id="email" type="email" />
        </section>
        <section>
          <label for="endereco">Endereço</label>
          <input id="endereco" type="text" />
        </section>
        <section>
          <button>Cadastrar</button>
        </section>
      </form>
      <section id="list-user"></section>
    </main>
  </body>

  <script>
    function handleOnSubmit(e) {
      e.preventDefault();

      const data = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        endereco: document.getElementById("endereco").value,
      };

      let response = fetch("/save", {
        method: "POST",
        headers: {
          "Content-Type": "application/json;charset=utf-8",
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((res) => {
          document.getElementById("name").value = "";
          document.getElementById("email").value = "";
          document.getElementById("endereco").value = "";

          console.log(res);
          if (res.users) {
            const list = document.getElementById("list-user");
            list.innerHTML = "";

            res.users.map((user) => {
              const container = document.createElement("div");

              const span_email = document.createElement("span");
              span_email.innerText = user.email;

              container.appendChild(span_email);
              list.appendChild(container);
            });
          }
          alert(res.message);
        });
    }
  </script>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .main {
      display: flex;
      max-width: 720px;
      margin: 0 auto;
    }
    .main form {
      padding: 20px;
    }

    .main > section {
      padding: 20px;
    }
  </style>
</html>
