<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form onsubmit="handleOnSubmit(event)">
        <section>
          <label for="username">Username</label>
          <input id="username" type="text" />
        </section>
        <section>
          <label for="password">Password</label>
          <input id="password" type="text" />
        </section>
        <section>
          <button>Cadastrar</button>
        </section>
      </form>
    </main>
  </body>

  <script>
    function handleOnSubmit(e) {
      e.preventDefault();

      const data = {
        value1: document.getElementById("username").value,
        value2: document.getElementById("password").value,
      };
      let response = fetch("/save", {
        method: "POST",
        headers: {
          "Content-Type": "application/json;charset=utf-8",
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((res) => {
            alert(res.message)
            document.getElementById("username").value = ""
            document.getElementById("password").value = ""
        });
    }
  </script>
</html>
